<%= form_with(model: race, local: true) do |form| %>
  <% if race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% race.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :swim_distance %>
    <%= form.text_field :swim_distance %>
  </div>

  <div class="field">
    <%= form.label :swim_units %>
    <%= form.text_field :swim_units %>
  </div>

  <div class="field">
    <%= form.label :bike_distance %>
    <%= form.text_field :bike_distance %>
  </div>

  <div class="field">
    <%= form.label :bike_units %>
    <%= form.text_field :bike_units %>
  </div>

  <div class="field">
    <%= form.label :run_distance %>
    <%= form.text_field :run_distance %>
  </div>

  <div class="field">
    <%= form.label :run_units %>
    <%= form.text_field :run_units %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
